/* about me page */
/* default navigation */

.container{
    max-width: 960px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
}
hr{
    margin: auto;
    border: 1.25px solid #cccccc;
    
}

h1{
    display: inline;
    padding: 40px 20px 30px 20px;
    background: #4aaaa5;
    color:#ffffff;

}

ul{
    float: right;
    display: inline-block;
    /* text-align: right; */
    list-style-type: none;
    
}
li{
    display: inline;
    /* border-right: 1px solid; */
}
li:not(:first-child):before {
    content: " | ";
    margin: 10px;
    color:#aba4a8;
}
a{
    text-decoration: none;
    color: #aba4a8;
    
}


/*About me box content */
h2,p{
    color: #777777;
}
h2{
    margin-left: 10px;
}
/*this is the line below the About Me */
#horizontal-line{
    width:90%;
    height:2px;
    background: #dddddd;
}
#aboutMe{
    max-width:960px;
    margin: 40px auto;
    border-style: solid;
    border-color: #cccccc;
    overflow: hidden;
    
}
img{
    float: left;
    width: 175px;
    height: 225px;
    margin: 20px;
    
}
/* #floated{
    float: left;
} */
footer{
    clear: both;
    text-align: center;
}