/* about me page */
/* default navigation */
body{
    background-color: #4aaaa5;
    z-index: 2;
    background-image: url("../images/triangle-mosaic.png");
    
}
#header{
    width:100%;
    background: #ffffff;
}
.container{
    max-width: 960px;
    margin: auto;
    background: #ffffff;
    overflow: hidden;
}
hr{
    margin: auto;
    border: 1.25px solid #cccccc;
    
}

h1{
    display: inline;
    padding: 40px 20px 30px 20px;
    background: #4aaaa5;
    color:#ffffff;

}

ul{
    float: right;
    display: inline-block;
    /* text-align: right; */
    list-style-type: none;
    
}
li{
    display: inline;
    font-size: 17px;
    /* border-right: 1px solid; */
}
li:not(:first-child):before {
    content: " | ";
    margin: 10px;
    color:#aba4a8;
    
}
a{
    text-decoration: none;
    color: #aba4a8;
    
}

footer{
    border-top: 10px solid #4aaaa5;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    clear: both;
    text-align: center;
    padding: 4px;
    background: #666666;
}
#copyRight{
    color: #ffffff;
}

/*About me box content */
p, input, label{
    color: #777777;
}
#title{
    color: #4aaaa5;
    margin-left: 20px;
}
/*this is the line below the About Me */
#horizontal-line{
    width:96%;
    margin-left: 20px;
    height:2px;
    background: #dddddd;
}
.content{
    max-width:960px;
    margin: 40px auto;
    border: 1px solid #dddddd;
    border-color: #cccccc;
    background: #ffffff;
    overflow: hidden;
}
.content h2{
    color:#4aaaa5;
}
#selfie{
    float: left;
    width: 175px;
    height: 225px;
    margin: 20px;
    
}

/* contact me page */
input, label, textarea{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: 30px;
    width: 93%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    overflow: auto;
}
#inputName #inputEmail{
    float:left;
}
#submit{
    width: 40%;
    padding: 15px 8px 15px 8px;
    margin-left: 11px;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #4aaaa5;
    border: none;
}

/*Portfolio*/
.row{
    float: left;
}
.content img{
    max-width: 190px;
    max-height: 300px;

}
.column{
      margin-bottom: 15px;
      margin-left: 20px;
      position: relative;
  }


.column .text{
    font-size: 13px;
    position: absolute;
    z-index: 1;
    /* top: 55%; */
    text-align: center;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.text h2{
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px;
    width: 170px;
}